<h3><%= "#{@current_user.name}'s Drops!" %></h3>

<!-- return to this and reduce amnt of logic in this view -->
<% @bucket_items.each do |item| %>
  <li><%= link_to "#{item.title}", bucket_item_path(item) %>
<% end %>

<!-- link back to user_show -->
<!-- link from each item to it's show page -->
