<h3><%= @bucket_item.title %></h3>
<h4><%= @bucket_item.description %></h4>
<h4><%= @bucket_item.formated_date %></h4>

<!-- link back to bucket_item_index -->
<!-- link back to user_show -->
<!-- link back to edit bucket item -->
