<%#  UPCOMING ACTIVITIES IN ASCENDING ORDER!%>

<% if !@user.upcoming_activities.empty? %>

<hr>
  <h3> Upcoming Drop Deadlines </h3>

  <% @user.upcoming_activities.each do |activity| %>
    <p><%= link_to "#{activity.title} | Due: #{activity.formatted_date}", activity_path(activity)  %></p>
  <% end %>
<% end %>
<hr>
