<hr>
<hr>
<h2> My Pending Drops </h2>
<!-- if user has no drops -->
<% if @user.activities.empty? %>
  <h2><p>You haven no planned drops! Add a drop below.</p></h2>
<% else %>
  <!-- list user's incomplete drops -->
  <% @user.activities.each do |activity| %>
    <% if activity.complete == false %>
      <h4><li><%= link_to "#{activity.title}", activity_path(activity.id) %></h4>
    <% end %>
  <% end %>
  <%= link_to 'view all drops', user_activities_path(@user) %>
<% end %>
