<!-- how to stop @user showing up blank if I force an error by not entering name? -->
<h3><%= @user.name.titlecase %>, Edit your Account details here</h3>

<hr>
<%= render "print_messages" %>

<%= render partial: "form",
           locals: {submit_text: "update account" } %>

<hr>
<p><%= link_to 'Cancel', user_path(@user) %></p>
