<h3>New User Registration</h3>
<hr>
<!-- create print messages method -->

<% if @messages %>
  <%= render "print_messages" %>
<% end %>

<%= render partial: "form",
           locals: {submit_text: "create account" } %>
<hr>
<%= link_to "Back", :back %>
