<h3>Hello, <%= @user.name %>!</h3>

<h2>Welcome to your bucket!</h2>

<!-- add new drop to bucket -->
<!-- my drops (bucket_items) -->
<!-- upcoming deadlines -->
<!-- number of drops accomlished -->
<!-- account -->
<p><%= link_to 'My Account', edit_user_path %></p>
<!-- image -->
<p><%= link_to 'Log Out', '/logout' %></p>
