<h1>WELCOME TO BUCKETS!</h1>

<hr>
<p><%= link_to 'Login', '/login' %></p>
<p><%= link_to 'Signup', '/users/new' %></p>

<hr>
<%= link_to('Log in with Facebook!', '/auth/facebook') %>

<!-- login or signup with email or signup using facebook/gmail -->
