WELCOME TO MY APP!

<p><%= link_to 'Login', '/login' %></p>

<p><%= link_to 'Signup', '/new' %></p>


<!-- login or signup with email or signup using facebook/gmail -->

<!-- login => sessions#new | signup => users#new | or omniauth route -->
