<h1>WELCOME TO BUCKETS!</h1>

<hr>
<h3>Have an account?</h3>
<%= link_to 'Login', '/login' %>

<h3>No account?</h3>
<%= link_to 'Signup', '/users/new' %><br><br>


<hr>
<h3>OR!</h3>
<%= link_to('Log in with Facebook!', '/auth/facebook') %>

<!-- login or signup with email or signup using facebook/gmail -->
