// View All Drops Button //
$(function() {
  $("#all-drops-button").on('click', function() {
    $("#activities-form").hide()
    let rightColumnDiv = $("#right-column-content")
    let userID = this.dataset.userId
    rightColumnDiv.empty()
    $.get(`/users/${userID}/activities`, function(data) {
      let activities = data
      activities.forEach(function(activity) {
        rightColumnDiv.append(
        `<ul><li><a href="../activities/${activity.id}">${activity.title}</a></li></ul>`
        )
      })
    })
  })
})

function displayNewActivityForm() {
  $("#right-column-content").empty()
  let newActivityFormDiv = $("#activities-form")
  newActivityFormDiv.toggle()
}

// Add A Drop Form Display //
$(function() {
  $("#add-drop-button").on("click", function() {
    displayNewActivityForm()
    $(this).off('click')
  })
})



// Slogan Function //
$(function() {

})
