// View All Drops Button //
$(function() {
  $("#all-drops-button").on('click', function() {
    let div = $("#right-column-content")
    let userID = this.dataset.userId
    div.empty()
    $.get(`/users/${userID}/activities`, function(data) {
      let activities = data
      activities.forEach(function(activity) {
        div.append(
        `<ul><li><a href="../activities/${activity.id}">${activity.title}</a></li></ul>`
        )
      })
    })
  })
})
