// View All Drops Button //
$(function() {
  $("#all-drops-button").on('click', function() {
    let rightColumnDiv = $("#right-column-content")
    let userID = this.dataset.userId
    rightColumnDiv.empty()
    $.get(`/users/${userID}/activities`, function(data) {
      let activities = data
      activities.forEach(function(activity) {
        rightColumnDiv.append(
        `<ul><li><a href="../activities/${activity.id}">${activity.title}</a></li></ul>`
        )
      })
    })
  })
})

// Form Display
function displayAddActivityForm() {
  let rightColumnDiv = $("#right-column-content")[0]
  
}

// Add A Drop Button //
$(function() {
  $("#add-drop-button").on("click", function() {
    displayAddActivityForm()
  })
})



// Slogan Function //
$(function() {

})
