// View All Drops Button //
$(function() {
  $("#all-drops-button").on('click', function() {
    $("#activities-form").hide()
    const rightColumnDiv = $("#right-column-content")
    const userID = this.dataset.userId

    // clear right column and refill with new title
    rightColumnDiv.empty()
    rightColumnDiv.html("<h2>My Drops</h2>")

    $.get(`/users/${userID}/activities`, function(data) {
      const activities = data
      activities.forEach(function(activity) {
        rightColumnDiv.append(
        `<ul><li><a href="../activities/${activity.id}">${activity.title}</a></li></ul>`
        )
      })
    })
  })
})

// Add A Drop Form Display //
$(function() {
  $("#add-drop-button").on("click", function() {
    $("#right-column-content").empty()
    $("#new_activity").show()

    const rightColumnDiv = $("#right-column-content")
    rightColumnDiv.html("<h2>Add A Drop To Your Bucket!</h2>")

    const newActivityFormDiv = $("#activities-form")
    newActivityFormDiv.show()
  })
})

// Add Drop Post Request //
$(function() {
  $('input#submit-new-drop-button').on("click", function(event){
    event.preventDefault()

    // serialize form data + create post request
    const values = $('form').serialize()
    const posting = $.post("/activities", values)

    posting.done(function(data) {
      // clear form visibility from html
      $('form').empty()

      const activity = data.activity
      const category_name = data.activity_category

      const date = new Date(activity.due_date)
      // activity instance in order to display formatted date
      const activityInstance = new Activity(date)

      const rightColumnDiv = $("#right-column-content")

      rightColumnDiv.html(`<h2>Your Newest Drop!</h2><p>${activity.title}</p><p>${category_name}</p><p>${activity.description}</p><p>${activityInstance.formatDate()}</p>`)
    })
  })
})

// Show To Do Lists //
$(function() {
  $("#to-do-button").on('click', function() {
    const userID = this.dataset.userId
    $("#new_activity").hide()

    $.get(`/users/${userID}/lists`, function(data) {
      const rightColumnDiv = $("#right-column-content")

      if (data.length != 0) {
        const lists = data


        rightColumnDiv.empty()
        rightColumnDiv.html("<h2>My To Dos</h2>")

        lists.forEach(function(list) {
          rightColumnDiv.append(
          `<ul><li><a href="../lists/${list.id}">${list.name}</a></li></ul>`
          )
        })
      } else {
        rightColumnDiv.html("<h2>You Have No To-Do Lists</h2>")
      }
    })
  })
})
