// View All Drops Button //
$(function() {
  $("#all-drops-button").on('click', function() {
    $("#activities-form").hide()
    const rightColumnDiv = $("#right-column-content")
    let userID = this.dataset.userId
    rightColumnDiv.empty()
    $.get(`/users/${userID}/activities`, function(data) {
      let activities = data
      activities.forEach(function(activity) {
        rightColumnDiv.append(
        `<ul><li><a href="../activities/${activity.id}">${activity.title}</a></li></ul>`
        )
      })
    })
  })
})

// Add A Drop Form Display //
$(function() {
  $("#add-drop-button").on("click", function() {
    $("#right-column-content").empty()
    const newActivityFormDiv = $("#activities-form")
    newActivityFormDiv.toggle()
    $(this).off('click')
  })
})

// Slogan Function //
$(function() {

})
