// Place all the styles related to the bucket_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//text colors
$blue: #25A9FC;

a:link {
  font-family: helvetica;
  color: hotpink;
}

a:visited {
  font-family: helvetica;
  color: purple;
}

h3 {
  color: cornflowerblue;
}

h2 {
  color: midnightblue;
}

p {
  color: dimgray;
}

img {
  border-radius: 8px;
  border: 3px solid hotpink;
}
