// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


 div#add-a-drop {
   display:none;
 }

 .column {
  float: left;
}

.left {
  padding: 10px;
  width: 350px;
  border-right: solid #000000
}

.right {
  padding: 10px;
  width: 75%;
}
