<% if @activities.empty? %>
  <h2><p>You haven't planned any drops! Click below to add a drop.</p></h2>
  
<% else %>
  <% @activities.each do |activity| %>
    <% if activity.complete %>
      <h3>Accomplished</h3>
    <% else %>
      <h3>Pending</h3>
    <% end %>
    <h2><%= link_to "#{activity.title}", activity_path(activity.id) %></h2>
  <% end %>
<% end %>
