<h3>EDIT YOUR BUCKET ITEM HERE!</h3>

<%= render partial: "form" %>

<p><%= link_to "Cancel", activity_path(@activity) %></p>
<p><%= link_to "Delete This Drop", "/activity/#{@activity.id}/delete" %></p>
