<h3><%= "#{@current_user.name}'s Drops!" %></h3>

<hr>
<!-- return to this and reduce amnt of logic in this view -->
<% if @activities.empty? %>
  <h2><p>You haven't planned any drops! Click below to add a drop.</p></h2>
<% else %>
  <% @activities.each do |activity| %>
    <li><%= link_to "#{activity.title}", activity_path(activity.id) %>
  <% end %>
<% end %>

<!-- breadcrumbs? -->
<hr>
<%= link_to 'Add A Drop to My Bucket', '/activities/new' %> :
<%= link_to 'Go Back to My User Page', user_path(@current_user) %>
