<h2><%= "#{@current_user.name}'s Drops!" %></h2>

<hr>
<%= render 'activities_empty' %>

<hr>
<p><%= link_to 'Add A Drop to My Bucket', '/activities/new' %></p>
<p><%= link_to 'Go Back to My User Page', user_path(@current_user) %></p>
