<h3><%= "#{@current_user.name}'s Drops!" %></h3>

<hr>
<!-- return to this and reduce amnt of logic in this view -->
<% if @activities.empty? %>
  <h2><p>You haven't planned any drops! Click below to add a drop.</p></h2>
<% else %>
  <% @activities.each do |item| %>
    <li><%= link_to "#{item.title}", bucket_item_path(item) %>
  <% end %>
<% end %>

<!-- breadcrumbs? -->
<hr>
<p><%= link_to 'Add A Drop to My Bucket', '/activities/new' %></p>
<p><%= link_to 'Go Back to My User Page', user_path(@current_user) %></p>
