<h2><%= "#{@current_user.name}'s Drops!" %></h2>

<hr>
<!-- ### reduce amnt of logic in this view ### -->
<% if @activities.empty? %>
  <h2><p>You haven't planned any drops! Click below to add a drop.</p></h2>
<% else %>
  <% @activities.each do |activity| %>
    <h2><%= link_to "#{activity.title}", activity_path(activity.id) %></h2>
  <% end %>
<% end %>

<hr>
<p><%= link_to 'Add A Drop to My Bucket', '/activities/new' %></p>
<p><%= link_to 'Go Back to My User Page', user_path(@current_user) %></p>
